<html>
<head>
    <title>Validador RUC </title>
    <style type="text/css">
    .invalid{color:red;}
    .valid{color:blue;font-weight:bold;font-size:1.2em;}
    .msg{color:#888;text-align:justify;}
    </style>
    <script type="text/javascript">
    function ValidarRUC()
    {
        var regEx =  /\d{11}/;
        var ruc = new String(document.getElementById("txtRUC").value);
        if(regEx.test(ruc))
        {
            var factores = new String("5432765432");
            var ultimoIndex = ruc.length - 1;
            var sumaTotal = 0, residuo = 0;
            var ultimoDigitoRUC = 0, ultimoDigitoCalc = 0;

            for(var i=0;i<ultimoIndex;i++)
            {
                sumaTotal += (parseInt(ruc.charAt(i)) * parseInt(factores.charAt(i)));
            }
            residuo = sumaTotal%11;

            ultimoDigitoCalc = (residuo == 10) ? 0: ((residuo == 11) ? 1:(11 - residuo)%10);
            ultimoDigitoRUC = parseInt(ruc.charAt(ultimoIndex));

            if(ultimoDigitoRUC == ultimoDigitoCalc)
            {
                alert("¡El RUC " + ruc + " SÍ es válido!.");
            }
            else
            {
                alert("¡ALERTA: El RUC " + ruc + " NO es válido!.");
            }
        }
        else
        {
            alert("ALERTA: El RUC no es válido, debe constar de 11 caracteres numéricos.");
            document.getElementById("txtRUC").focus();
        }
    }
    function ValidarLength()
    {
        var texto = document.getElementById("txtRUC").value;
        var tamanio = texto ? texto.length: 0;
        var mensaje = "<p class=" + ((tamanio != 11) ? "'invalid'" : "'valid'") + ">" + tamanio + " caracteres</p>";
        document.getElementById("contenedorMensaje").innerHTML = mensaje;
    }
    </script>
</head>
<body>
    <div class="">
        <h1>VALIDADOR RUC</h1>
    </div>
    <div class="">
        <label for="txtRUC">RUC: </label>
        <input type="text" id="txtRUC" name="txtRUC"
        onkeyup="ValidarLength()" onkeypress="ValidarLength()" onfocus="ValidarLength()" />
        <input type="button" value="Validar" onclick="ValidarRUC()" />
    </div>
    <div id="contenedorMensaje">
    </div>
    <div>
    <p class="msg">*Esto solo verifica si el RUC es válido, no si se encuentra registrado.
    </p>
    </div>
</body>
</html>
